<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <title>Hello from Flask</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleDash.css') }}"> 
      <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
    </head>
    <body>           
        <div class="header">
          Тест по теме "Информационные системы и технологии"
        </div> 
        <div class="sidebar">
          <span class="user-name">Hi, {{name}} {{surname}}</span>
        </div>        

        <div class="content">
          <form action="" name="form" method ="POST">
            {% for i in questions %}
            <div class="quiz-card">
              <div class="quiz-card__question">{{ i[1] }}             
            </div>
            <ol class="quiz-card__answers-list">
              {% for j in answers %}
              {% if (j[3] == i[0]) %}
              <li class="quiz-card__answers">
                <input type="radio" id="ans_{{j[0]}}" value="{{j[0]}}" name="{{i[0]}}">
                
                <label for="ans_{{j[0]}}">{{ j[1] }}</label>
                <div class="check"></div>
              </li>
              {% endif %}
              {% endfor %}
            </ol>
            </div>
            {% endfor %}
            <input class = "button" type="submit" value="Отправить">
            <div>Правильных ответов: i</div>
          </form>
        </div>
        <div class="footer"></div>
    </body>
  </html>
