<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8" />
      <title>Hello from Flask</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> 
      <link href="https://fonts.googleapis.com/css?family=Jura&display=swap" rel="stylesheet">
    </head>
    <body>      
      <div class="form-wrap">
        <h2>Войдите, чтобы  начать тест</h2>
        <form action="" class="form" method ="POST">
          <div>
            <input type="text" name="username" placeholder="Username" value="{{request.form.username}}">
          </div>

          <div>
            <input type="text" placeholder="Password" name="password" value="{{request.form.password}}">
          </div>
          <input type="submit" value="Войти">
        </form>
        
        <p>{{error}}</p>
        
      </div> 
  </body>
  </html>
